*.txt linguist-language=Adblock linguist-detectable
* linguist-detectable
Main linguist-language=Adblock linguist-detectable
Domains linguist-language=Adblock linguist-detectable
Porn linguist-language=Adblock linguist-detectable
Mixed\ Content linguist-language=Adblock linguist-detectable
Anti-Corp/* linguist-language=Adblock linguist-detectable
Specific/* linguist-language=Adblock linguist-detectable